.current-month {
    display: block;
    background: lighten($purple, 15%);
    position: relative;
    padding: 0.35em;
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: all 250ms ease-in-out;
    &:hover {
        text-decoration: none;
        background-color: lighten($purple, 10%);
        color: #fff;
    }
    span {
        display: block;
        font-size: 0.65em;
        text-transform: none;
        font-weight: 300;
    }
}

.woocommerce-account {
    .current-month {
        &.no-bubble {
            &:after {
                display: none;
            }
        }
        &:after {
            transition: all 250ms ease-in-out;
            content: '';
            position: absolute;
            top: 0.85em;
            right: -0.5em;
            margin: 0 auto;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background-color: lighten($purple, 15%);
            z-index: 100;
        }
        &:hover {
            &:after {
                background-color: lighten($purple, 10%);
            }
        }
    }
}
.dashboard-shop {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.75em;
    font-size: 1.5em;
    background: $light-teal;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: all 250ms ease-in-out;
    &:hover {
        text-decoration: none;
        background-color: darken($light-teal,15%);
        color: #fff;
    }
    &.back {
        background-color: lighten($purple,10%);
    }
}
.dashboard-full {
    width: 100%;
    background: darken($gray,15%);
    .full-grid {
        border-radius: 0.5em;
        background: white;
        padding: 2em;
        max-width: 67.5em;
    }
}
.dashboard-shop {
    font-weight: 500;
}
.dashboard-header,
.store-header {
    background: darken($purple,7.5%);
    padding: 0.875em 1.5em;
    position: relative;
    .dashboard-nav {
        float: right;
        width: 50%;
        text-align: right;
        div:first-of-type {
            display: none;
            @include bp(50) {
                display: inline-block;
            }
        }
        .light-teal-btn,
        .clear-btn {
            padding: 0.15em 1em;
        }
        .cart-contents {
            @include button(transparent, #fff);
            border: 1px solid #fff;
            padding: 0.15em 1em;
            &:hover {
                background-color: transparent;
                color: white;
                border-color: $light-teal;
            }
        }
        .icon-user {
            font-size: 2em;
            vertical-align: middle;
            margin: 0 0.25em;
            transition: all 250ms ease-in-out;
        }
        .username {
            display: block;
            color: white;
            font-weight: 700;
            font-size: 1.15em;
            font-family: 'Oswald', sans-serif;
            transition: all 250ms ease-in-out;
            &:hover {
                color: $light-teal;
                .icon {
                    color: $light-teal;
                }
            }
            @include bp(44) {
                display: inline-block;
            }
        }
    }
    .account-info {
        display: none;
        position: absolute;
        top: 4.5em;
        right: 0;
        left: 0;
        background-color: $light-teal;
        color: white;
        padding: 1em;
        z-index: 10;
        width: 100%;
        margin: 0 auto;
        &:after {
            content: '';
            top: -1em;
            right: 0.75em;
            width: 0;
            height: 0;
            position: absolute;
            border-left: 1.5em solid transparent;
            border-right: 1.5em solid transparent;
            border-bottom: 1.5em solid $light-teal;
        }
        @include bp(44) {
            right: 0.4em;
            left: auto;
            width: 32em;
        }
        .icon {
            font-size: 3em;
        }
        h3 {
            margin: 0;
        }
        .buttons {
            display: block;
            margin-top: 1em;
            a {
                display: block;
                margin-bottom: 0.5em;
                @include bp(44) {
                    display: inline-block;
                    width: 12em;
                }
                @include bp(44) {
                    a:first-child {
                        margin-right: 1em;
                    }
                }
            }
            .mobile-btn {
                @include bp(44) {
                    display: none;
                }
            }
        }
        .two-third {
            width: 100%;
            @include bp(30) {
                width: 80%;
                float: left;
            }
            a {
                color: white;
                text-decoration: none;
                font-size: 0.875em;
            }
        }
        .third {
            display: none;
            @include bp(30) {
                display: block;
                width: 15%;
                float: left;
            }
        }
    }
}
.store-header {
    .logo {
        float: left;
        padding: 0 1em;
        max-width: 10em;
    }
}
.dashboard-content {
    padding: 0;
    /* background: url(_i/dash-bg.jpg) 100% 100% / contain no-repeat fixed; */
    position: relative;
    &:after {
        content: '';
        /* background-color: rgba(65,163,156,0.85); */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

}
.account-stuff {
    padding: 2em;
    position: relative;
    z-index: 1;
    background: $gray;
    .entry-header {
        margin-bottom: 0.75em;
        border-bottom: 1px solid darken($gray, 10%);
    }
    .entry-footer {
        padding: 0;
    }
}
.dashboard-section {
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    header {
        position: relative;
        margin: 0 auto 0.5em;
        &:before,
        &:after {
            content: '';
            width: 170%;
            height: 0.05em;
            background: $purple;
            position: absolute;
            left: 6.5em;
            top: 50%;
            z-index: 1;
        }
        &:after {
            right: 6.5em;
            left: auto;
        }
        > div {
            display: inline-block;
            padding: 0 1.5em;
            background: #fff;
            position: relative;
            z-index: 3;
            img {
                margin-top: 0.15em;
                width: 3em;
                vertical-align: top;
            }
        }
        h2 {
            color: $purple;
            text-transform: uppercase;
            font-size: 2.5em;
            display: inline-block;
            margin: 0;
        }
    }
    &.support {
        border-bottom: 2px solid $purple;
    }
    .dashboard-list {
        color: white;
        padding: 2em 0;
        > li {
            padding: 0 0 2em;
            width: 50%;
            float: left;
            margin: 0;
            &:nth-child(4n) {
                clear: none;
            }
            @include bp(50) {
                width: 33.333%;
            }
        }
        h3 {
            padding-top: 1em;
            text-transform: uppercase;
            font-size: 1.25em;
            font-weight: 500;
            color: $purple;
            @include bp(50) {
                font-size: 1.5em;
            }
        }
        img {
            width: 5em;
            display: block;
            margin: 0 auto;
            @include bp(50) {
                width: 9em;
            }
        }
        a {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                h3,
                .icon {
                    color: $light-teal;
                    fill: $light-teal;
                }
            }
        }
    }

}
.dashboard-archive {
    a {
        color: $purple;
    }
}
.dashboard-search {
    float: left;
    width: 50%;
    overflow: hidden;
    .search-form {
        display: block;
        position: relative;
        margin: 0;
        input {
            border: none;
            padding: 0.5em;
            background: transparent;
            color: white;
        }
        input[type="search"] {
            width: 20em;
            margin-left: 2em;
        }
        input[type="submit"] {
            position: absolute;
            left: 0;
            top: 0;
            background: url(_i/search.png) center center no-repeat;
            background-size: 2em;
            width: 2em;
            height: 2em;
            text-indent: -9999px;
        }
        label {
            display: inline;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: #fff;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #fff;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #fff;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
        }
    }
}

.search-trigger {
    display: inline-block;
    padding-right: 0.5em;
    vertical-align: middle;
    font-size: 1.5em;
}
.expanded-history {
    display: none;
}
.back-dash {
    padding: 0.75em;
}