.products-page {
	padding: 4em 0;
	width: 90%;
	margin: 0 auto;
	@include bp(67.5) {
		width: 100%;
	}
	.page-title {
		color: $purple;
	}
	hr {
		background-color: $purple;
		height: 0.25em;
		margin-bottom: 2.5em;
	}
	ul.products {
		li.product {
			background-color: lighten($gray, 2.5%);
			border: 1px solid darken($gray,10%);
			padding: 0;
			@include bp(50) {
				width: 24%;
				margin: 0 1.333% 4em 0;
				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
			a {
				display: block;
				padding: 1em 1em 2em;
				margin: 0;
				transition: all 250ms ease-in-out;
				&:hover {
					background-color: darken($gray,5%);
					.mem-price-premium {
						background-color: darken($gray,5%);
					}
				}
			}
			h3 {
				color: $text;
			}
			.button {
				@include button($purple, #fff);
				border: 1px solid $purple;
				border-radius: 0;
				padding: 1.5em;
				margin-top: 0;
				display: block;
				&:hover {
					background-color: $orange;
					color: #fff;
					border-color: $orange;
				}
			}
		}
	}
	.price {
		font-size: 0.875em;
		margin-bottom: 0 !important;
		> .amount {
			&:before {
				content: 'Regular Price: ';
			}
		}
		del,
		.amount {
			color: $text;
			
		}
		ins {
			color: $orange;
			text-decoration: none;
			.amount {
				color: $orange;
				&:before {
					display: inline-block;
				}
			}
		}
	}
	.mem-price {
		color: $orange;
		font-weight: 700;
		font-size: 0.875em;
		margin-top: -0.1em;
		display: block;
	}
	.mem-price-premium {
		margin-top: -1.65em !important;
		background: lighten($gray, 2.5%);
		z-index: 1;
		position: relative;
		padding: 0 0 0.25em;
		transition: all 250ms ease-in-out;
	}
	.woocommerce-pagination {
		.page-numbers {
			border-color: $purple !important;
		}
		li {
			border-color: $purple !important;
			a {
				color: $text;
				&:hover {
					background: $purple !important;
					color: white !important;
				}
			}
			span.current {
				background: $purple !important;
				color: white !important;
			}
		}
	}
}
.woocommerce-tabs {
	.panel {
		border-bottom: 1px solid #d3ced2;
		margin-bottom: 2.5em !important;
		padding-bottom: 1.5em !important;
	}
}

.single-product-container {
	max-width: 67.5em;
	margin: 0 auto;
	padding: 3em 0;
	.price {
		del,
		ins {
			display: block;
		}
	}
	.mem-price {
		font-size: 1.2em;
		margin-bottom: 0.875em !important;
		display: block;
	}
	.mem-price-premium {
		margin-top: -1.35em !important;
		background: white;
		z-index: 1;
		position: relative;
		padding: 0 0 0.25em;
	}
}
.term-strong-marriages {
	.sm-btn {
		background: $purple;
		border-color: $purple;
	}
}
.term-confident-parents {
	.cp-btn {
		background: $purple;
		border-color: $purple;
	}
}
.term-empowered-kids {
	.ek-btn {
		background: $purple;
		border-color: $purple;
	}
}
.term-healthy-leaders {
	.hl-btn {
		background: $purple;
		border-color: $purple;
	}
}

.product-filter {
	padding-bottom: 2em;
	h3 {
		display: block;
		margin-right: 1em;
		@include bp(50) {
			display: inline;
		}
	}
	a {
		width: 49%;
		float: left;
		margin: 0 2% 0.5em 0;
		display: block;
		&:nth-of-type(2n+2) {
			margin-right: 0;
		}
		@include bp(50) {
			display: inline;
			width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
}