.page-sidebar {
	width: 100%;
	.default-sidebar {
		display: none;
		//background: $dark-gray;
		padding: 0 0 1em;
		@include bp(44) {
			display: block;
			float: left;
			width: 25%;
		}
		.widget_search {
			padding-bottom: 1.5em;
			input {
				font-size: 0.875em;
				padding: 0.5em;
			}
		}
		aside {
			h1 {
				font-size: 1.25em;
			}
		}
		ul {
			font-size: 0.875em;
		}
		h1 {
			padding: 0.75em 0;
			margin: 0;
			text-align: center;
			font-size: 2em;
		}
		.dashboard-shop {
	      margin-bottom: 0.5em;
		   &.back {
		      background-color: $orange;
		   }
		}
	}

}
.product-feature {
	width: 14em;
	max-width: 85%;
	margin: 0 auto;
}
.side-product {
	margin-bottom: 1em;
	a {
		display: block;
	}
}
.recent-sidebar {
	margin: 0 0 1em;
	h2 {
	   font-size: 1.5em;
	   margin-left: -1.15em;
	   text-transform: uppercase;
	   font-weight: 500;
	   text-align: center;
	   margin: 0 0 0.25em;
	   color: #fff;
	}
	ul {
       margin: 0 auto;
       padding: 0;
	   list-style: square;
       font-family: 'Oswald', sans-serif;
       margin-left: 35%;
	   color: #fff;
    }
	a {
		color: #fff;
	}
}
