.content-area {
	padding: 4em 0;
}
article {
	padding-bottom: 2.5em;
	margin-bottom: 2.5em;
	border-bottom: 1px solid darken($gray,15%);
	&:last-of-type {
		border-bottom: none;
	}
	a {
		color: $teal;
	}
	h1 {
		font-size: 2.5em;
		margin-bottom: 0;
	}
	.entry-meta,
	.entry-content {
		font-size: 0.875em;
		padding-bottom: 1em;
	}
	.entry-content {
		.btn {
			display: block;
			width: 90%;
			margin: 0 auto;
			@include bp(30) {
				width: auto;
				display: inline-block;
				margin: auto;
			}
		}
	}
	.entry-footer {
		font-size: 0.875em;
		margin: 1em 0 1em;
		background: $gray;
		.comments-link {
			padding-right: 0.5em;
		}
		.comment-list {
		   background: white;
		   padding-top: 2em;
		   li {
		   	border-bottom: 1px solid $gray;
		   	&:last-child {
		   		border-bottom: none;
		   	}
		   }
		}
		h2,
		h3 {
			text-transform: uppercase;
		}
		textarea {
	   	border: 1px solid $gray;
	   	padding: 1em;
	   	width: 100%;
	   	display: block;
	   }
	   input[type="submit"] {
	   	font-size: 1.25em;
	   	padding: 0.75em 1.25em;
	   }
	   .post-type {
	   	padding: 2em 2em 1em;
	   	@include bp(30) {
	   		text-align: right;
	   	}
	   }
	}
}
.comments-area {
	padding: 1em;
	@include bp(50) {
		padding: 2em;
	}
	article {
		padding: 0;
		margin: 0 0 2em;
		border-bottom: 1px solid $gray;
	}
	.comment-author {
		padding-bottom: 0.5em;
	}
	.comment-list {
		padding: 2em;
		margin-bottom: 2em;
		@include bp(50) {
			padding: 2em 3em;
		}
		> li {
			margin-bottom: 2em;
			padding-bottom: 0;
			border: none !important;
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	.comment-content {
		background: $gray;
		padding: 1em;
		margin: 1em 0;
		p {
			margin: 0;
		}
	}
	.reply {
		padding-bottom: 1em;
		text-align: right;
		a {
			@include button($teal, #fff);
			border: 1px solid $teal;
			&:hover {
				background-color: $purple;
				color: #fff;
				border-color: $purple;
			}
		}
	}
}